body{
    background-color: #352f5b;
}

.container{
    max-width: 400px;
}


.design,
.design:focus{
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.todos li{
    background-color: #423a6F;
    color: #fff;
}

.delete{
    cursor: pointer;
}

.filtered{
    display: none !important;
}